@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.footer{
    color: white;
    background-color: #3A5766;       
    padding-top: 50px;
    padding-bottom: 10px;  
    font-family: 'Montserrat', sans-serif;  
}
.center {
    width: 100%;
    text-align: center;   
}

.margincopy{
    margin-top: 0px;    
    font-size: small;
}

.contacthelp{
    margin-bottom: 50px;
}

.formin{
    width: 80%;
    margin: auto;
}
.frrss{    
    width: fit-content;
    margin: auto;
}
.rrss{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
    opacity: 0.5;
    border: 0px;
    margin-right: 5px;
}

.formsend{
    margin: auto;
    width: fit-content;
}
.bsend{
    border: solid white !important;
    border-radius: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #3A5766 !important;  
    color:white; 
}
.bsend:hover{
    border: solid white ;
    border-radius: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #3A5766;  
    color:white;
    opacity: 0.5; 
}