.wholepage {
    display: flex;
    width: 100%;
}

.infoservice {
    width: 60%;
    margin: 32px;
}

.LoginToSeeMore {
    cursor: not-allowed;
}

.volunteerthings {
    display: flex;
}

.infovolunteer {
    padding: 0px 20px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}



.infoserv {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    /* height: 654px; */
}

.servicesAgain {
    text-decoration: none;
}

.infoserv h1 {
    font-size: 32px;
    margin-bottom: 16px;
}

.infoserv p {
    font-size: 19px;
    margin-bottom: 16px;
}

.wsimg {
    height: 230px;
    margin-bottom: 30px;
    overflow: hidden;
    max-width: 100%;
}

.side {
    width: 40%;
}

.wsclients {
    margin: 32px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.avatarsv {
    width: fit-content;
    margin: auto;
}

.wsbadges {
    margin: 32px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.compename {
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonparticipant {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.participateornot {
    margin-left: 25px;
}

.workshopended {
    color: darkgray;
    cursor: not-allowed;
}

.delete-button-for-edit {
    margin-left: 15px;
}

@media only screen and (max-width: 600px) {
    .wholepage {
        flex-direction: column;
        align-items: start;
    }
    .infoserv {
        width: 345px;
        border: none;
    }
    .infoserv img {
        width: 100%;
    }
    .wsbadges, .wsclients, .LoginToSeeMore {
        width: 345px;
        /* border: none; */
    }
    .buttonparticipant {
        width: 70%;
    }
    .wsdesc {
        text-align: justify;
    }
    .wsname {
        text-align: center;
    }
}