/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
}

input[type="tel"] {
    border: 2px solid rgb(206, 206, 206);
    border-radius: 4px;
}

.register-button {
    background-color: #f5d389;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

.register-button:hover {
    background-color: #dab25c;
}

select {
    height: 40px;
}

/* Responsive styles */
/* @media only screen and (min-width: 768px) {
    form {
        max-width: 500px;
        margin: auto;
    }
} */

.firstpart {
    margin: 25px 200px;
}

button[type="choice"] {
    margin-left: 60px;
    background-color: #f5d389;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button[type="choice1"] {
    background-color: #f5d389;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button[type="choice1"]:hover,
button[type="choice"]:hover {
    background-color: #dab25c;
}

.firstpart hr {
    width: 100%;
}

select {
    height: 50px;
}

.titleAboutR {
    flex: 100%;
    background-image: url("../public/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 130px 60px 130px;
    color: antiquewhite;
    font-weight: bold;
    font-size: 75px;
    position: relative;
}

.joinquestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbol {
    padding-left: 25px;
    font-size: larger;

}

.parag {
    margin: 25px 200px;
    text-align: justify;
}

.passEr {
    color: red;
}

@media only screen and (max-width: 600px) {
    .titleAboutR {
        font-size: 45px;
        color: white;
        text-shadow: -1.7px -1.7px 0 black, 1.7px -1.7px 0 black, -1.7px 1.7px 0 black, 1.7px 1.7px 0 black;
        margin: 0px;
        padding: 10px;
    }

    .parag {
        margin: 10px;
    }

    .firstpart {
        margin: 10px;
        text-align: justify;
    }

    form {
        margin: 10px;
    }
}