#filtraje {
    flex-direction: row;
    text-align: center;
}
#descript {
    min-height: 155px;
}
#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#works {
    margin: 10px;
    border-radius: 0;
    border: 1px solid black;
}