.ab {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 130px;
}

.bout {
    background-image: url("../public/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 500px 150px 10px;
}

p {
    margin-top: 25px;
    margin-right: 100px;
    text-align: justify;
}