.infoAbout {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 55px;
}

/* .titleAbout {
    flex: 100%;
    background-image: url("../public/image4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 500px 150px 10px;
} */

.infoAbout p {
    margin: 25px 200px;
    text-align: justify;
}