.titleAboutI {
    flex: 100%;
    background-image: url("../public/image5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 500px 150px 130px;
    color: white;
    font-weight: bold;
    font-size: 75px;
}