.titleAboutM {
    flex: 100%;
    background-image: url("../public/image4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 500px 150px 130px;
    color: antiquewhite;
    font-weight: bold;
    font-size: 75px;
}

.servicesbutton {
    color: #ba158b;
    background-color: #e2bc6a;
    padding: 7px 17px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    border-color: antiquewhite;
    transition: all 0.2s ease-in-out;
}


.servicesbutton:hover {
    background-color: black;
    color: antiquewhite;
    padding: 13px 27px;
}

.infoAbout div {
    width: fit-content;
    margin: auto;
    position: relative;
}

.infoAbout {
    margin-bottom: 0 !important;
}

.trans {
    bottom: 0px;
    right: 350px;
    transform: rotate(100deg);
    position: absolute;
}


.minus1,
.minus2,
.minus3 {
    position: absolute;

}



.minus1 {
    transform: rotate(40deg);
    right: -25px;
    bottom: -10px;
}

.minus3 {
    transform: rotate(140deg);
    right: -25px;
    bottom: 50px;

}

.minus2 {
    right: -30px;
    bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .titleAboutM {
        padding: 0;
        color: rgb(199, 0, 199);
        text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white, -1.5px 1.5px 0 white, 1.5px 1.5px 0 white;
    }
    .infoAbout p {
        margin: 25px 25px 0 25px;
    }

}